# Numpy

In [1]:
import numpy as np

## Creating a 1-dimensional array

In [ ]:
one_dimension = [1,2,3]

## Creating a 2-dimensional array

In [ ]:
two_dimension = [(1,2,3) (4,5,6)]

## Datatypes & Attributes

In [2]:
#Numpy's main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [25]:
a2 = np.array([[1,2.0,3.3],
              [4,5,6.5]])

a3 = np.array([[[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]
              ]])

In [11]:
print(a2)

[[1.  2.  3.3]
 [4.  5.  6.5]]

In [26]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [27]:
a3.shape

(2, 3, 3)

### to checkout what type of dimension an array has

In [28]:
a1.ndim, a2.ndim , a3.ndim

(1, 2, 3)

### to checkout what datatype the arrays are

In [29]:
a1.dtype, a2.dtype , a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

### to checkout the size of the arrays

In [31]:
a1.size ,  a2.size , a3.size

(3, 6, 18)

## Creating a Dataframe from a Numpy array

In [34]:
import pandas as pd

In [36]:
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

In [43]:
df3 = pd.DataFrame(a3.reshape(2,9))
df3

    0   1   2   3   4   5   6   7   8
0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18

In [44]:
ones = np.ones((2,3))

In [45]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [47]:
ones.dtype

dtype('float64')

In [48]:
type(ones)

numpy.ndarray

In [49]:
zero = np.zeros((2,3))

In [50]:
zero

array([[0., 0., 0.],
       [0., 0., 0.]])

In [52]:
range_array = np.arange(0,12,2)
range_array

array([ 0,  2,  4,  6,  8, 10])

In [61]:
random_array = np.random.randint(0,10,size = (3,5))
random_array

array([[3, 3, 9, 9, 7],
       [3, 5, 2, 6, 3],
       [5, 7, 1, 7, 2]])

In [85]:
random_array = np.random.random((3,5))
random_array

array([[0.65603225, 0.51870293, 0.95823739, 0.12808629, 0.64396514],
       [0.87506335, 0.78569218, 0.70800819, 0.02299703, 0.14762959],
       [0.28681458, 0.74583201, 0.22823611, 0.21183101, 0.25912904]])

In [86]:
#psuedo-random numbers
# np.random.see()
random_array_4 = np.random.randint(10,size=(5,3))
random_array_4

array([[7, 1, 2],
       [0, 3, 6],
       [5, 4, 4],
       [5, 5, 2],
       [3, 5, 0]])