In [2]:
import pandas as pd

In [4]:
conversion_rate = pd.read_csv('conversion_rates.csv')
conversion_rate

      converted group
0             0     B
1             0     B
2             0     A
3             0     B
4             0     A
...         ...   ...
1995          0     B
1996          0     B
1997          0     A
1998          0     A
1999          1     A

[2000 rows x 2 columns]

In [38]:
group_A = conversion_rate.loc[conversion_rate['group'] == 'A']
group_A

      converted group
2             0     A
4             0     A
6             0     A
9             0     A
10            0     A
...         ...   ...
1992          0     A
1993          0     A
1997          0     A
1998          0     A
1999          1     A

[1030 rows x 2 columns]

In [53]:
group_B = conversion_rate.loc[conversion_rate['group'] == 'B']
group_B

      converted group
0             0     B
1             0     B
3             0     B
5             0     B
7             0     B
...         ...   ...
1985          0     B
1989          0     B
1994          0     B
1995          0     B
1996          0     B

[970 rows x 2 columns]

## Number of views

In [61]:
ac = len(group_A)
print('The number of views for group A is:',ac )

The number of views for group A is: 1030

In [62]:
bc = len(group_B)
print('The number of views for group B is:',bc )

The number of views for group B is: 970

## Number of ads converted

In [59]:
ads_convA = group_A.loc[group_A['converted'] == 1]
la = len(ads_convA)
print('The number of ads converted for group A is:',la )

The number of ads converted for group A is: 90

In [60]:
ads_convB = group_B.loc[group_B['converted'] == 1]
lb = len(ads_convB)
print('The number of ads converted for group B is:',lb )

The number of ads converted for group B is: 21

## Convertion ratio

In [63]:
groupA_ConvRatio = (la/ac)*100
print('The conversion ratio for group A is:',groupA_ConvRatio)

The conversion ratio for group A is: 8.737864077669903

In [64]:
groupB_ConvRatio = (lb/bc)*100
print('The conversion ratio for group B is:',groupB_ConvRatio)

The conversion ratio for group B is: 2.1649484536082473